<p id="notice"><%= notice %></p>

<h1>GRADES FOR </h1>

<%= simple_form_for([@grade, @grades.build]) do |f| %>
  <%= f.input :year, prompt: "Enter School Year", :collection => ['2015','2016','2017','2018'], label: false  %>
  <%= f.input :grade, collection: '1'..'12', prompt: "Enter Grade", label: false %>
  <%= f.button :submit, :id => "button" %>
<% end %>

<table>
  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td class="col-md-1"><%= grade.grade %></td>
        <td class="col-md-1"><%= grade.year %></td>
        <td class="col-md-1"><%= grade.student %></td>
        <td class="col-md-1"> <i> <%= link_to 'Edit', edit_grade_path(grade)%> </i></td> 
        <td class="col-md-1"> <i> <%= link_to 'Delete', grade, method: :delete, data: { confirm: "Are you sure?" } %> </i></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade', new_grade_path %>
