<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<p>
  <strong>Year:</strong>
  <%= @grade.year %>
</p>

<p>
  <strong>Student:</strong>
  <%= @grade.student %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
