<p id="notice"><%= notice %></p>

<h1>SCHOOL YEARS</h1>

<%= simple_form_for([@schoolyear, @schoolyears.build]) do |f| %>
  <%= f.input :year, prompt: "Enter School Year", :collection => ['2015','2016','2017','2018'], label: false  %>
  <%= f.button :submit, label: "Create School Year", :id => "button" %>
<% end %>
<br>
<div class="table-responsive">
  <table class="table">
    <% @schoolyears.each do |schoolyear| %>
      <tr>
        <td class="col-md-1"><%= link_to schoolyear.year, edit_schoolyear_path(schoolyear) %></td>
        <td class="col-md-1"> <%= link_to(content_tag(:i,nil,class: 'fa fa-trash-o'), schoolyear, method: :delete, data: { confirm: "Are you sure?" }) %> </td>
      </tr>
    <% end %>
  </table>
</div>