<%= simple_form_for(@student,html: { autocomplete: 'off' }) do |f| %>
  <%= f.input :firstname, label: "First Name", placeholder: "Enter First Name" %>
  <%= f.input :surname, label: "Surname", placeholder: "Enter Surname" %>
  <%= f.input :dob, label: "Date of Birth", as: :date, 
                    start_year: Date.today.year - 18, 
                    end_year: Date.today.year - 6, 
                    default: Date.today.beginning_of_year,
                    order: [:day, :month, :year] %>
  <%= f.input :current, label: "Current Student", as: :boolean, checked_value: true, unchecked_value: false %>

  <h3>GRADES</h3>
  <div class="row">
    <div class="col-md-12">
      <div id="grades">
        <table class="table">
          <tbody id="result_fields">
            <%= f.simple_fields_for :grades, :html => { :class => 'form-horizontal' } do |grades| %>
              <%= render 'grade_fields', f: grades %>
            <% end %>
            <br>
          </tbody>
        </table>
        <div class="links">
          <%= link_to_add_association 'Add Grade', f, :grades, id: "button" %>
        </div>
      </div>
    </div>
  </div>
<div class="form-actions">
  <%= f.button :submit, :id => "button" %>
</div>
<% end %>