<p id="notice"><%= notice %></p>

<h1>TERMS</h1>

<br>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th><%= "YEAR" %></th>
      <th><%= "TERM" %></th>
      <th><%= "START DATE" %></th>
      <th><%= "END DATE" %></th>
    </tr>
    <% @terms.each do |term| %>
      <tr>
        <td class="col-md-1"><%= term.year %></td>
        <td class="col-md-1"><%= term.term %></td>
        <td class="col-md-2"><%= term.startdate %></td>
        <td class="col-md-2"><%= term.enddate %></td>
        <td class="col-md-1"><i> <%= link_to 'Edit', edit_term_path(term)%></i></td>
        <td class="col-md-1"><i> <%= link_to 'Delete', term, method: :delete, data: { confirm: "Are you sure?" } %> </i></td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<%= link_to 'New Term', new_term_path, id: "button" %>
