<p id="notice"><%= notice %></p>

<h1>Terms</h1>

<table>
  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.term %></td>
        <td><%= term.startdate %></td>
        <td><%= term.enddate %></td>
        <td><%= term.schoolyear %></td>
        <td><%= link_to 'Show', term %></td>
        <td><%= link_to 'Edit', edit_term_path(term) %></td>
        <td><%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Term', new_term_path %>
