<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%= @term.term %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @term.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @term.enddate %>
</p>

<p>
  <strong>Schoolyear:</strong>
  <%= @term.schoolyear %>
</p>

<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>
