<p id="notice"><%= notice %></p>

<h1>RESULTS</h1>

<%= simple_form_for([@result, @results.build]) do |f| %>
  <%= f.input :classmark, label: false, placeholder: "Class Mark" %>
  <%= f.input :testmark, label: false, placeholder: "Test Mark" %>
  <%= f.association :student, collection: Student.order(:surname), prompt: "Choose student", label: false %>
  <%= f.association :subject, collection: Subject.order(:name), prompt: "Choose subject", label: false %>
  <%= f.association :term, collection: Term.order(:term), prompt: "Choose term", label: false %>
  <%= f.button :submit, :id => "button" %>
<% end %>
<br>
<div class="table-responsive">
  <table class="table">
    <% @results.each do |result| %>
      <tr>
        <td class="col-md-1"><%= result.classmark %></td>
        <td class="col-md-1"><%= result.testmark %></td>
        <td class="col-md-1"><%= link_to result.student, edit_result_path(result) %></td>
        <td class="col-md-1"><%= link_to result.subject, edit_result_path(result) %></td>
        <td class="col-md-1"><%= link_to result.term, edit_result_path(result) %></td>
        <td class="col-md-1"><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>