<p id="notice"><%= notice %></p>

<h1>RESULTS</h1>

<br>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th><%= "TERM" %></th>
      <th><%= "STUDENT" %></th>
      <th><%= "SUBJECT" %></th>
      <th><%= "CLASS MARK" %></th>
      <th><%= "TEST MARK" %></th>
    </tr>
    <% @results.each do |result| %>
      <tr>
        <td class="col-md-1"><%= result.term.year + "/" + result.term.term%></td>
        <td class="col-md-2"><%= result.student.firstname + " " + result.student.surname %></td>
        <td class="col-md-1"><%= result.subject.name %></td>
        <td class="col-md-1"><%= result.classmark %></td>
        <td class="col-md-1"><%= result.testmark %></td>
        <td class="col-md-1"> <i><%= link_to 'Edit', edit_result_path(result)%></i></td>
        <td class="col-md-1"> <i><%= link_to 'Delete', result, method: :delete, data: { confirm: 'Are you sure?' } %></i></td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<%= link_to 'New Result', new_result_path, id: "button" %>