<p id="notice"><%= notice %></p>

<h1>ENROLLMENTS</h1>

<%= simple_form_for([@enrollment, @enrollments.build]) do |f| %>
  <%= f.association :student, collection: Student.order(:firstname), prompt: "Choose a student", label: false %>
  <%= f.association :subject, collection: Subject.order(:name), prompt: "Choose a subject", label: false %>
  <%= f.association :schoolyear, collection: Schoolyear.order(:year), prompt: "Choose a school year", label: false %>
  <%= f.button :submit, :id => "button" %>
<% end %>
<br>
<div class="table-responsive">
  <table class="table">
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td class="col-md-1"> <%= link_to enrollment.student, edit_enrollment_path(enrollment)%></td>
        <td class="col-md-1"> <%= enrollment.subject %></td>
        <td class="col-md-1"> <%= enrollment.schoolyear %></td>
        <td class="col-md-1"> <%= link_to(content_tag(:i,nil,class: 'fa fa-trash-o'), enrollment, method: :delete, data: { confirm: "Are you sure?" }) %> </td>
      </tr>
    <% end %>
  </table>
</div>