<p id="notice"><%= notice %></p>

<h1>SUBJECTS</h1>

<%= simple_form_for([@subject, @subjects.build]) do |f| %>
  <%= f.input :name, label: false, placeholder: "Enter Subject Name" %>
  <%= f.button :submit, :id => "button" %>
<% end %>

<br>
<div class="table-responsive">
  <table class="table">
    <% @subjects.each do |subject| %>
      <tr>
        <td class="col-md-1"><%= subject.name %></td>
        <td class="col-md-1"></td>
        <td class="col-md-1"> <%= link_to 'Edit', edit_subject_path(subject)%></td>
        <td class="col-md-1"> <%= link_to 'Delete', subject, method: :delete, data: { confirm: "Are you sure?" } %> </td>
      </tr>
    <% end %>
  </table>
</div>
