<div class="form-inline table">
  <div class="nested-fields">
    <%= f.association :subject, collection: current_user.subjects.order(:name), prompt: "Subject", label: false, :input_html => { :id => 'result_fields' } %>
    <%= f.input :classmark, label: false, placeholder: "Mark1", :input_html => {value: number_with_precision(f.object.classmark, precision: 0), :id => 'result_fields'} %>
    <%= f.input :testmark, label: false, placeholder: "Mark2", :input_html => {value: number_with_precision(f.object.testmark, precision: 0), :id => 'result_fields'} %>
    <%= f.input :comment, label: false, placeholder: "Report Comment", :input_html => { :id => 'result_fields' } %>
    <%= link_to_remove_association "Remove", f, id: "button" %>
  </div>
</div>
