<h1>ADD RESULTS</h1>

<p>
  <strong>Student:</strong>
  <%= @report.student_id %>
</p>

<p>
  <strong>Term:</strong>
  <%= @report.term_id %>
</p>

<br>
<%= simple_form_for(@report) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div id="results">
        <table class="table table-hover table-striped">
          <thead>
            <th class="col-md-2">Subject</th>
            <th class="col-md-1">Mark 1</th>
            <th class="col-md-1">Mark 2</th>
            <th class="col-md-5">Comment</th>
          </thead>
          <tbody id="result_fields">
            <%= f.simple_fields_for :results, :html => { :class => 'form-horizontal' } do |results| %>
              <%= render 'result_fields', f: results %>
            <% end %>
            <br>
          </tbody>
        </table>
        <div class="links">
          <%= link_to_add_association 'Add Result', f, :results, id: "button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'Back', reports_path %>